<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocio.Properties.Settings.InventarioConnectionString"
            connectionString="Data Source=LAPTOP-34PQSFQ3\SQLEXPRESS;Initial Catalog=Inventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>